<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lele.e_learning">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.CheckNote"></activity>
        <activity android:name=".activity.activity.Exam.MyScore" />
        <activity android:name=".activity.activity.Exam.ExamResult" />
        <activity android:name=".activity.activity.Exam.QuestionCollection" />
        <activity android:name=".activity.activity.Exam.Exam" />
        <activity android:name=".activity.activity.Vote.VoteUpload" />
        <activity android:name=".activity.activity.Vote.VoteRank" />
        <activity android:name=".activity.activity.BBS.Post" />
        <activity android:name=".activity.activity.BBS.Notice" />
        <activity android:name=".activity.activity.Learn.TeacherHome" />
        <activity
            android:name=".activity.activity.BBS.ChildBBSPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Learn.PhotoLearnPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Learn.PhotoLearnList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Learn.TextLearnPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Learn.TextLearnList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Learn.MediaLearnList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Learn.MediaLearnPage"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.activity.Vote.VoteList" />
        <activity
            android:name=".activity.activity.Vote.VotePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>